@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


:root {
  --bg-color: #ffffff;
  --text-color: #1f2937;
  --primary-color: #3b82f6;
}

[data-theme='dark'] {
  --bg-color: #1a202c;
  --text-color: #f7fafc;
  --primary-color: #3b82f6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
